*{ font-family: 'Lato', sans-serif !important;
    scroll-behavior: smooth;}

.myName{
    margin-bottom: 10px;
    font-size: 47px;
    display: block;
}

.description{
    margin-bottom: 13px;
}

.flag{
    height: 20px;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 3px;
    vertical-align: middle;
}

.about{
    margin-top: 80px;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkBox{
    margin-top: 10px;
    display: flex;
    justify-content: left;
    width: 100%;
}

.social{
    width:36px;
    border-radius: 2px 2px 2px 2px;
    margin-right: 5px;
    box-shadow: 1px 1px 1px 1px #333;
}

.social:hover{
    cursor: pointer;
    filter: brightness(70%);
}

.aboutButton{
    background: #666666;
    border: 1px #666;
    width: 110px;
    padding: 10px;
    margin: 0;
    border-radius: 2px;
    height: 36px;
    margin-right: 5px;
    box-shadow: 1px 1px 1px 1px #333;
}

.aboutButton:hover{
    background-color: #444;
    border: 1px #444;
}

.aboutButton:focus{
    background-color: #666;
    border: 1px #666;
}

.myFace{
    width: 30%;
    height: 30%;
    float: right;
    border-radius: 50%;
    border: 6px solid gray;
    margin-right: 10%;
    /* margin-top: 40px; */
}