.contact{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin-bottom: 250px;
}

.socialBox{
    display: flex;
    align-items: center;
}

@media (min-width: 600px) {
    .contact { grid-template-columns: repeat(3, 1fr); }
    .socialBox {margin: auto;}
}

